<launch>
    <!-- Start Gazebo -->
    <!-- Gazebo parameters -->
    <arg name="use_sim_time" default="true"/>
    <arg name="debug" default="false" />
    <arg name="gui" default="true" />
    <arg name="paused" default="true" />

    <!-- Launch Gazebo with an empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find one_shot_imitation_learning)/worlds/table.world"/>
        <arg name="gui" value="$(arg gui)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <!-- Spawn Kortex Robot -->
    <arg name="robot_name" value="gen3"/>
    <include file="$(find kortex_gazebo)/launch/spawn_kortex_robot.launch">
            <arg name="start_gazebo" value="false"/>
            <arg name="start_rviz" value="true"/>
            <arg name="robot_name" value="$(arg robot_name)"/>
            <arg name="gripper" value="robotiq_2f_85"/>
    </include>
    <group ns="$(arg robot_name)">
        <node pkg="one_shot_imitation_learning" type="ArmController.py" name="arm_controller" output="screen" />
    </group>
</launch>